<mat-card>
  <mat-card-header>
    <div class="top"></div>
    <div mat-card-avatar class="back-button"></div>
    <div mat-card-avatar class="avatar"></div>
    <mat-card-title>Samuel Green</mat-card-title>
    <mat-card-subtitle>Available to Walk</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="left-message-container">
      <div class="left-message">
        That sounds great. I’d be happy with that.
      </div>
    </div>
    <div class="left-message-container">
      <div class="left-message">
        Could you send over some pictures of your dog, please?
      </div>
    </div>
    <div class="image-block">
      <img src="assets/dog-image-1.jpg" alt="dog-1">
      <img src="assets/dog-image-2.jpg" alt="dog-2">
      <img src="assets/dog-image-3.jpg" alt="dog-3">
    </div>
    <div class="right-message-container">
      <div class="right-message">
        Here are a few pictures. She’s a happy girl!
      </div>
    </div>
    <div class="right-message-container">
      <div class="right-message">
        Can you make it?
      </div>
    </div>
    <div class="left-message-container">
      <div class="left-message">
        She looks so happy! The time we discussed works. How long shall I take her out for?
      </div>
    </div>
    <div class="radio-block">
      <div mat-card-avatar class="radio-button"></div>
      <p>30 minute walk</p>
      <h1>$29</h1>
    </div>
    <div class="radio-block">
      <div mat-card-avatar class="radio-button"></div>
      <p>1 hour walk</p>
      <h1>$49</h1>
    </div>
    <div class="message">
      Type a message…
      <div mat-card-avatar class="send-button"></div>
    </div>
  </mat-card-content>
</mat-card>
